li {
    color : white;
    list-style: none;
    cursor: pointer;
}

@media only screen and (max-width: 576px) {
    .footer_sm_margin{
        margin-bottom: 15px!important;
    }

    .footer_sm_padding {
        padding: 0!important;
        margin: 0 !important;
       
    }
}